<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility Template</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <header class="header">
        <div class="header__content">
            <div class="header__mainInfo">
                <figure class="header__logo">
                    <a href="#">
                        <img src="./images/Logo.svg" alt="Logo" width="34" height="34">
                    </a>
                </figure>
                <nav class="header__nav">
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                        <li>
                            <a href="#">Eng</a>
                            <figure class="header__arrowDown">
                                <img src="./images/ArrowDown.svg" alt="Arrow Down" width="24" height="24">
                            </figure>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__searchBar">
                <input type="text" placeholder="Search this site" aria-placeholder="Search this site">
                <button>
                    <img src="./images/Search.svg" alt="Search Icon" width="32" height="32">
                </button>
            </div>
        </div>
    </header>
</body>

</html>