<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility Template</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="./images/Logo.svg" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="header__content">
            <div class="header__mainInfo">
                <figure class="header__logo">
                    <a href="#">
                        <img src="./images/Logo.svg" alt="Logo" width="34" height="34">
                    </a>
                </figure>
                <nav class="header__nav">
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                        <li>
                            <a href="#">Eng</a>
                            <figure class="header__arrowDown">
                                <img src="./images/ArrowDown.svg" alt="Arrow Down" width="24" height="24">
                            </figure>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__searchBar">
                <input type="text" placeholder="Search this site" aria-placeholder="Search this site">
                <button>
                    <img src="./images/Search.svg" alt="Search Icon" width="32" height="32">
                </button>
            </div>
            <figure class="header__burger">
                <a href="#">
                    <img src="./images/Burger.svg" alt="Burger" width="50" height="38">
                </a>
            </figure>
        </div>
    </header>
    <section class="intro">
        <div class="intro__content">
            <div class="intro__info">
                <h1>Lorem ipsum dolor sit amet</h1>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend tincidunt posuere eu risus cursus.
                    Senectus sed maecenas viverra tempus at. Nulla aliquam ac diam amet, sagittis, ut ultricies. Urna
                    hendrerit morbi sed gravida. Nulla aliquam ac diam amet, sagittis, ut ultricies. Urna hendrerit
                    morbi sed gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <button>Buy Now</button>
            </div>
            <figure>
                <img src="./images/intro.png" alt="Intro" width="648" height="648">
            </figure>
        </div>
    </section>
    <section class="about">
        <div class="about__content">
            <div class="about__item">
                <figure>
                    <img src="./images/about.png" alt="About us" width="180" height="230">
                </figure>
                <div class="about__info">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend tincidunt posuere eu risus
                        cursus. Senectus sed maecenas viverra tempus at. Nulla aliquam ac diam amet, sagittis, ut
                        ultricies. Urna hendrerit morbi sed gravida. Nulla aliquam ac diam amet, sagittis, ut
                        ultricies. Urna hendrerit morbi sed gravida. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Eleifend tincidunt posuere eu risus cursus.</p>
                    <a href="#"><span>Learn more about</span> →</a>
                </div>
            </div>
            <div class="about__item">
                <figure>
                    <img src="./images/about.png" alt="About us" width="180" height="230">
                </figure>
                <div class="about__info">
                    <h4>About Us 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend tincidunt posuere eu risus
                        cursus. Senectus sed maecenas viverra tempus at. Nulla aliquam ac diam amet, sagittis, ut
                        ultricies. Urna hendrerit morbi sed gravida. Nulla aliquam ac diam amet, sagittis, ut
                        ultricies. Urna hendrerit morbi sed gravida. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Eleifend tincidunt posuere eu risus cursus.</p>
                    <a href="#"><span>Learn more about</span> →</a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="contact__content">
            <aside>
                <div class="contact__info">
                    <h1>Contact Us</h1>
                    <p>Fill up the form and ur Team will get back to you within 24 hours. Happy to see your
                        message!</p>
                    <div class="contact__links">
                        <div class="contact__link">
                            <img src="./images/facebook.svg" alt="facebook" width="24" height="24">
                            <a href="tel:093 15 32 456" target="_blank" rel="noreferrer">+380 93 15 32 456</a>
                        </div>
                        <div class="contact__link">
                            <img src="./images/facebook.svg" alt="facebook" width="24" height="24">
                            <a href="mailto:example@gmail.com" target="_blank" rel="noreferrer">example@gmail.com</a>
                        </div>
                        <div class="contact__link">
                            <img src="./images/facebook.svg" alt="facebook" width="24" height="24">
                            <a href="#" target="_blank" rel="noreferrer">Pidmurma 5a, Lviv</a>
                        </div>
                    </div>
                </div>
                <div class="contact__icons">
                    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.5 12.0643C22.5 6.22966 17.7992 1.5 12.0013 1.5C6.20079 1.50131 1.5 6.22966 1.5 12.0656C1.5 17.3373 5.33989 21.7073 10.3583 22.5V15.1181H7.69422V12.0656H10.3609V9.73622C10.3609 7.08924 11.9291 5.6273 14.3268 5.6273C15.4764 5.6273 16.6772 5.83333 16.6772 5.83333V8.43176H15.353C14.0499 8.43176 13.643 9.24672 13.643 10.0827V12.0643H16.5538L16.0892 15.1168H13.6417V22.4987C18.6601 21.706 22.5 17.336 22.5 12.0643Z"
                            fill="#111111" />
                    </svg>
                    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.5 12.0643C22.5 6.22966 17.7992 1.5 12.0013 1.5C6.20079 1.50131 1.5 6.22966 1.5 12.0656C1.5 17.3373 5.33989 21.7073 10.3583 22.5V15.1181H7.69422V12.0656H10.3609V9.73622C10.3609 7.08924 11.9291 5.6273 14.3268 5.6273C15.4764 5.6273 16.6772 5.83333 16.6772 5.83333V8.43176H15.353C14.0499 8.43176 13.643 9.24672 13.643 10.0827V12.0643H16.5538L16.0892 15.1168H13.6417V22.4987C18.6601 21.706 22.5 17.336 22.5 12.0643Z"
                            fill="#111111" />
                    </svg>
                    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.5 12.0643C22.5 6.22966 17.7992 1.5 12.0013 1.5C6.20079 1.50131 1.5 6.22966 1.5 12.0656C1.5 17.3373 5.33989 21.7073 10.3583 22.5V15.1181H7.69422V12.0656H10.3609V9.73622C10.3609 7.08924 11.9291 5.6273 14.3268 5.6273C15.4764 5.6273 16.6772 5.83333 16.6772 5.83333V8.43176H15.353C14.0499 8.43176 13.643 9.24672 13.643 10.0827V12.0643H16.5538L16.0892 15.1168H13.6417V22.4987C18.6601 21.706 22.5 17.336 22.5 12.0643Z"
                            fill="#111111" />
                    </svg>
                </div>
            </aside>
            <form>
                <div class="contact__form-info">
                    <div class="contact__form-info-item">
                        <label for="First Name"><span>*</span> First Name</label>
                        <input type="text" name="First Name" placeholder="Yurii" aria-placeholder="Yurii">
                    </div>
                    <div class="contact__form-info-item">
                        <label for="Last Name"><span>*</span> Last Name</label>
                        <input type="text" name="Last Name" placeholder="Doe" aria-placeholder="Doe">
                    </div>
                    <div class="contact__form-info-item">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" placeholder="example@gmail.com"
                            aria-placeholder="example@gmail.com">
                    </div>
                    <div class="contact__form-info-item">
                        <label for="Phone Number">Phone Number</label>
                        <input type="tel" name="Phone Number" placeholder="|     00 000 00 00"
                            aria-placeholder="|   00 000 00 00">
                        <select name="Phone Number">
                            <option value="+380">+380</option>
                        </select>
                    </div>
                </div>
                <div class="contact__form-radioButtons">
                    <div class="contact__form-radioButtons-item">
                        <input type="radio" name="specialty" value="UI Developer" aria-valuetext="UI Developer">
                        <label for="UI Developer">UI Developer</label>
                    </div>
                    <div class="contact__form-radioButtons-item">
                        <input type="radio" name="specialty" value="UI/UX Designer" aria-valuetext="UI/UX Designer">
                        <label for="UI/UX Designer">UI/UX Designer</label>
                    </div>
                    <div class="contact__form-radioButtons-item">
                        <input type="radio" name="specialty" value="Accessibility Expert"
                            aria-valuetext="Accessibility Expert">
                        <label for="Accessibility  Expert">Accessibility Expert</label>
                    </div>
                    <div class="contact__form-radioButtons-item">
                        <input type="radio" name="specialty" value="QA Engineer" aria-valuetext="QA Engineer">
                        <label for="QA Engineer">QA Engineer</label>
                    </div>
                    <div class="contact__form-radioButtons-item">
                        <input type="radio" name="specialty" value="Other" aria-valuetext="Other">
                        <label for="Other">Other</label>
                    </div>
                </div>
                <div class="contact__form-message">
                    <label for="Message">Message</label>
                    <textarea name="Message" cols="5" rows="5" placeholder="Text here..."></textarea>
                </div>
                <div class="contact__form-acceptTerms">
                    <div class="contact__form-acceptTerms-item">
                        <input type="checkbox" name="Accept the Terms">
                        <label for="Accept the Terms">Accept the Terms</label>
                    </div>
                    <div class="contact__form-acceptTerms-item">
                        <input type="checkbox" name="Accept the Terms 2">
                        <label for="Accept the Terms 2">Accept the Terms 2</label>
                    </div>
                </div>
                <div class="contact__form-button-container">
                    <input class="contact__form-button" type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__subscribe">
                <h1>PlantMe</h1>
                <p>Subscribe and be the first to know about our news and promotions.</p>
                <div class="footer__subscribeBar">
                    <input type="email" name="email" placeholder="example@gmail.com"
                        aria-placeholder="example@gmail.com">
                    <button>Subscribe</button>
                </div>
            </div>
            <nav class="footer__links">
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Site Map</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contact">
                <h4>Contacts</h4>
                <a href="tel:+38 063 072 0121">+38 063 072 0121</a>
                <a href="mailto:plantme.store@gmail.com">plantme.store@gmail.com</a>
                <div class="footer__contact-payments">
                    <img src="./images/visa.svg" alt="visa" width="50" height="28">
                    <img src="./images/masterCard.svg" alt="Master Card" width="50" height="42">
                </div>
            </div>
        </div>
        <div class="footer__copyright-wrapper">
            <div class="footer__copyright">
                <div class="footer__copyright-title">© 2022 PlantMe. All Rights Reserved</div>
                <div class="footer__copyright-items">
                    <div class="footer__copyright-item">Privacy Policy</div>
                    <div class="footer__copyright-item">Terms of service</div>
                    <div class="footer__copyright-item">Language</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>