@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    .footer {
        &__info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }

        &__subscribe {
            display: none;
        }

        &__links {
            justify-self: center;

            ul {
                a {
                    &:hover {
                        opacity: 1;
                    }

                    &:hover::before {
                        width: 0;
                    }
                }
            }
        }

        &__contact {
            justify-self: center;
        }

        &__copyright {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
    .footer {
        &__info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }

        &__subscribe {
            display: none;
        }

        &__links {
            justify-self: center;

            ul {
                a {
                    font-size: 14px;
                    line-height: 22px;

                    &:hover {
                        opacity: 1;
                    }

                    &:hover::before {
                        width: 0;
                    }
                }
            }
        }

        &__contact {
            justify-self: center;

            h4 {
                font-size: 14px;
                line-height: 22px;
            }

            a {
                font-size: 14px;
                line-height: 22px;
            }
        }

        &__contact-payments {
            padding-top: 10px;
        }

        &__copyright {
            flex-direction: column;
            gap: 20px;
        }

        &__copyright-title {
            font-size: 14px;
            line-height: 16px;
        }

        &__copyright-items {
            padding-right: 0;
        }

        &__copyright-item {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
        }
    }
}